#loader {
  width: 50%;
  text-align: center;
  margin: auto;
}

#loader > span {
  display:block;
  margin: 2em;
}

#spinner {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto !important;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.windarrow {
  height:65px;
  margin-top:-65px;
  transform-origin: bottom left !important;
}

.boatmarker {
  height:40px;
  margin-top:-20px;
  margin-left:-10px;
  transform-origin: center !important;
}

#map {
  overflow: hidden;
}

body, html {
  height: 100%;
  margin: 0;
}

#toc>a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0.2em;
  padding: 0.3em;
  border: 1px grey solid;
  background-color: lightgray;
  text-decoration: none;
  color: unset;
}