* {
  box-sizing: border-box;
}

#apps {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.app {
  height: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#apps {
  flex: 99;
}

@media (orientation: landscape) {
  #apps {
    flex-direction: row;
  }

  #content {
    flex-direction: row;
  }

  #toc {
    writing-mode: vertical-lr;
  }
  #toc > a {
    transform: rotate(180deg);
  }
}
