<!DOCTYPE html>
<html>
<head>
  <!--Noch ein Test - obs aus Atom auch geht-->
  <title>Autologger</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="j/sensorserver.css" />
  <link rel="stylesheet" href="j/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="js/controller.js"></script>
</head>
<body>
  <div data-role="page" data-theme="d" id="wahlpage">
    <div data-role="header">
      <h1>Autologger</h1>
    </div>

    <div role="main" class="ui-content">
      <a href="#antriebpage" data-role="button" data-icon="star" data-iconpos="top" id="antriebButton">Antrieb</a>
      <a href="#antriebpage" data-role="button" data-icon="star" data-iconpos="top" id="anlegenButton">Ablegen</a>
      <a href="#sonstigespage" data-role="button" data-icon="eye" data-iconpos="top" id="sonstigesButton">Sonstiges</a>
      <a href="#" data-role="button" data-icon="back" data-iconpos="top" id="backButton0">Logbuch beenden</a>

    </div>

    <div data-role="footer" data-position="fixed">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="25%" height="20" align="center" valign="middle">Position</td>
          <td width="25%" height="20" align="center" valign="middle">COG</td>
          <td width="25%" height="20" align="center" valign="middle">SOG</td>
          <td width="25%" height="20" align="center" valign="middle">Antrieb</td>
        </tr>
        <tr>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataPos"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataCog"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataSog"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataAntrieb"></span></td>
        </tr>
      </table>
    </div>
  </div>

  <div data-role="page" data-theme="d" id="anlegepage">
    <div data-role="header">
      <h1><span id="anlegeHeader">Anlegen</span></h1>
    </div>

    <div role="main" class="ui-content">
      <a href="#wahlpage" data-role="button" data-icon="star" data-iconpos="top" id="hafenButton">Hafen</a>
      <a href="#wahlpage" data-role="button" data-icon="star" data-iconpos="top" id="ankerButton">Anker</a>
      <a href="#wahlpage" data-role="button" data-icon="star" data-iconpos="top" id="bojeButton">Boje</a>
      <a href="#wahlpage" data-role="button" data-icon="back" data-iconpos="top">Zurück</a>

    </div>

    <div data-role="footer" data-position="fixed">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="25%" height="20" align="center" valign="middle">Position</td>
          <td width="25%" height="20" align="center" valign="middle">COG</td>
          <td width="25%" height="20" align="center" valign="middle">SOG</td>
          <td width="25%" height="20" align="center" valign="middle">Antrieb</td>
        </tr>
        <tr>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataPos"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataCog"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataSog"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataAntrieb"></span></td>
        </tr>
      </table>
    </div>
  </div>

  <div data-role="page" data-theme="d" id="sonstigespage">
    <div data-role="header">
      <h1>Benutzer Eintrag</h1>
    </div>

    <div role="main" class="ui-content">
      <textarea name="sonstigesArea" id="sonstigesArea" style="height: 50px;"></textarea>
      <a href="#wahlpage" data-role="button" data-icon="star" data-iconpos="top" id="speichernButton">Speichern</a>
      <a href="#wahlpage" data-role="button" data-icon="back" data-iconpos="top">Zurück</a>

    </div>

    <div data-role="footer" data-position="fixed">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="25%" height="20" align="center" valign="middle">Position</td>
          <td width="25%" height="20" align="center" valign="middle">COG</td>
          <td width="25%" height="20" align="center" valign="middle">SOG</td>
          <td width="25%" height="20" align="center" valign="middle">Antrieb</td>
        </tr>
        <tr>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataPos"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataCog"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataSog"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataAntrieb"></span></td>
        </tr>
      </table>
    </div>
  </div>

  <div data-role="page" data-theme="d" id="antriebpage">
    <div data-role="header">
      <h1><span id="antriebHeader">Antrieb</span></h1>
    </div>

    <div role="main" class="ui-content">
      <a href="#wahlpage" data-role="button" data-icon="star" data-iconpos="top" id="motorButton">Motor</a>
      <a href="#wahlpage" data-role="button" data-icon="star" data-iconpos="top" id="segelButton">Segel</a>
      <a href="#wahlpage" data-role="button" data-icon="star" data-iconpos="top" id="antriebBack">Zurück</a>

    </div>

    <div data-role="footer" data-position="fixed">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="25%" height="20" align="center" valign="middle">Position</td>
          <td width="25%" height="20" align="center" valign="middle">COG</td>
          <td width="25%" height="20" align="center" valign="middle">SOG</td>
          <td width="25%" height="20" align="center" valign="middle">Antrieb</td>
        </tr>
        <tr>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataPos"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataCog"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataSog"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span class="dataAntrieb"></span></td>
        </tr>
      </table>
    </div>
  </div>

</body>
