<!DOCTYPE html>
<html>
  <head>

    <title>Logbook</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width: 640px)"/>
    <link rel="stylesheet" href="css/desktop.css" media="screen and (min-width: 641px)"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="j/jquery-3.5.1.min.js"></script>
    <script src="j/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="j/jquery-ui.css">


    <script src="js/controller.js"></script>
    <script src="js/communications.js"></script>

    <link rel="stylesheet" type="text/css" href="j/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="j/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="j/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="j/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="j/buttons.colVis.min.js"></script>
    <script src="js/table.js"></script>

    <script src="j/chart.js"></script>
    <script src="js/chart.js"></script>

    <link rel="stylesheet" type="text/css" href="j/leaflet.css">
    <script src="j/leaflet.js"></script>
    <script src="j/leaflet.rotatedMarker.js"></script>
    <script src="j/leaflet.nauticscale.js"></script>
    <link rel="stylesheet" type="text/css" href="j/Leaflet.PolylineMeasure.css">
    <script src="j/Leaflet.PolylineMeasure.js"></script>
    <script src="js/map.js"></script>

    <script src="js/hud.js"></script>

    <script src="js/message_templates.js"></script>
  </head>
  <body>
    <div class="homeScreen" id="loaderpage">
      <h1>Logbook - starting up</h1>

      <table border="0" width="100%" height="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" height="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" height="25" valign="middle">Verbinde mit Server ...</td>
        </tr>
        <tr>
          <td align="center" valign="middle">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="homeScreen"  id="home" style="display: none;">
      <button id="showMapButton">Map</button>
      <button id="showGraphButton">Graph</button>
      <button id="showTableButton">Table</button>
      <button id="showHudButton">HUD</button>
      <button id="showLogbookControlsButton">Logbook</button>
      <button id="showSettingsButton">Settings</button>
    </div>
    <div id="popup" style="display: none;" title="Details"><h1 id="popup-title"></h1><div id="popup-content"></div><div id="popup-controls"><button id="popup-close">Close</button></div></div>
    <div class="homeScreen" id="fehlerpage" title="Fehler">

      <table border="0" width="100%" height="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" valign="middle"><span id="fehler"></span></td>
        </tr>
      </table>
      <button data-icon="back" data-iconpos="top" id="fehlerBack" data-corners="false">OK</button>
    </div>

    <div class="homeScreen" id="createLogbookPage">
      <h1>Create Logbook</h1>
      <label for="text-3">Bezeichnung:</label>
      <input type="text" data-clear-btn="true" name="text-3" id="logbookTitle" value="">
      <label for="logbookDescription">Beschreibung:</label>
      <textarea name="logbookDescription" id="logbookDescription" style="height: 50px;" data-corners="false"></textarea>
      <button id="saveLogbookButton">Save</button>
      <button class="cancelButton">Cancel</button>
    </div>

    <div class="homeScreen" id="loadLogbookPage">
      <h1>Load Logbook</h1>
      <ul data-role="listview" data-inset="true" id="logbookList">
      </ul>
      <button class="cancelButton">Cancel</button>
    </div>

    <div id="settingsPage" style="display: none;" title="Logbook Settings">
      <ul data-role="listview" data-inset="false" data-theme="d" data-divider-theme="d" data-icon="false" class="jqm-list ui-listview ui-group-theme-d">
        <li data-icon="plus"><a id="createLogbookButton" href="#">New Logbook</a></li>
        <li data-icon="search"><a id="loadLogbookButton" href="#">Load Logbook</a></li>
        <li data-icon="save"><a id="exportLogbookButton">Export Logbook</a></li>
        <li data-icon="save"><a id="exportGpxButton">Export GPX</a></li>
        <li data-icon="power"><a id="quitButton" href="#">Quit</a></li>
      </ul>
    </div>

    <div id="wahlpage" style="display: none;" title="Logbook Controls">
        <div id="controls">
          <button data-icon="engine" data-iconpos="top" id="reffButton" data-corners="false">Reffen</button>
          <button data-icon="boat" data-iconpos="top" id="unreefButton" data-corners="false">Ausreffen</button>
          <button data-icon="boat" data-iconpos="top" id="segelButton" data-corners="false">Segel</button>
          <button data-icon="engine" data-iconpos="top" id="motorButton" data-corners="false">Motor</button>
          <button data-icon="poller" data-iconpos="top" id="anlegenButton" data-corners="false">Anlegen</button>
          <button data-icon="boat" data-iconpos="top" id="ablegenButton" data-corners="false">Ablegen</button>
          <button data-icon="poller" data-iconpos="top" id="hafenButton" data-corners="false">Hafen</button>
          <button data-icon="anker" data-iconpos="top" data-corners="false" id="ankerButton">Anker</button>
          <button data-icon="boje" data-iconpos="top" id="bojeButton" data-corners="false">Boje</button>
          <button data-icon="pen" data-iconpos="top" id="safetyBriefingButton" data-corners="false">Safety Briefing</button>
          <button data-icon="pen" data-iconpos="top" id="weatherReportButton" data-corners="false">Weather Report</button>
          <button data-icon="pen" data-iconpos="top" id="sonstigesButton" data-corners="false">Sonstiges</button>
          <button data-icon="rettungsring" data-iconpos="top" data-theme="d" id="pobButton" data-corners="false">Person über Bord</button>
          <div id="sonstigesArea">
              <h1 id="sonstigesSubject"></h1>
              <div id="sonstigesContent"></div>
          </div>
          <button data-icon="save" data-iconpos="top" id="speichernButton" data-corners="false">Speichern</button>
          <button data-icon="back" data-iconpos="top" data-corners="false" id="backButton">Zurück</button>
        </div>
      </div>
    </div>
    
    <div id="table" style="display: none;" title="Table">
      <table data-role="table" id="table" class="ui-body-d ui-shadow table-stripe ui-responsive table-stroke" data-column-btn-theme="d" data-column-btn-text="Columns to display..." data-column-popup-theme="d">
      </table>
    </div>

    <div id="chart" style="display: none;" title="Graph">
      <canvas id="chart_SoG" width="400" height="75"></canvas>
      <canvas id="chart_weather" width="400" height="75"></canvas>
      <canvas id="chart_wind" width="400" height="75"></canvas>
    </div>

    <div id="map" style="display: none;" title="Map"></div>

    <div id="HUD" style="display: none;" title="HUD">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="25%" height="20" align="center" valign="middle">Wind</td>
          <td width="25%" height="20" align="center" valign="middle">COG</td>
          <td width="25%" height="20" align="center" valign="middle">SOG</td>
          <td width="25%" height="20" align="center" valign="middle">Status</td>
        </tr>
        <tr>
          <td width="25%" height="40" align="center" valign="middle"><span id="dataWind"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span id="dataCoG"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span id="dataSoG"></span></td>
          <td width="25%" height="40" align="center" valign="middle"><span id="dataStatus"></span></td>
        </tr>
      </table>
    </div>
    </body>
</html>
