<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <script src="jquery-3.3.1.min.js"></script>
        <script type="text/javascript">
            var webSocket = new WebSocket('ws://' + window.location.host + '/ws');

          webSocket.onerror = function(event) {
                alert(event.data);
            };

            webSocket.onmessage = function(event) {
                document.getElementById('info').innerHTML = event.data;
                jQuery('#info').show();
                jQuery('#info').delay(3000).fadeOut(2000)
            };
        </script>
        <script type="text/javascript">
            function buttonClicked(text) {
                webSocket.send(text);
            }
        </script>
        <style>
          div *, div {
            width:100%;
            margin: 5px;
            line-height: 50px;
            font-size:100%;
          }

          #info {
            text-align: center;
            position: absolute;
            background: yellow;
          }
        </style>
    </head>
    <body>
      <div id="info"></div>
      <div id="main">
        <button onClick="buttonClicked('Segel')">Segel</button>
        <button onClick="buttonClicked('Motor')">Motor</button>
        <button onClick="jQuery('#main').hide();jQuery('#anlegen').show();">Anlegen</button>
        <button onClick="jQuery('#main').hide();jQuery('#custom').show();">Custom</button>
        <button onClick="buttonClicked('undo')">Undo</button>
      </div>
      <div id="anlegen" style="display: none;">
        <button onClick="buttonClicked('Hafen');jQuery('#main').show();jQuery('#anlegen').hide();">Hafen</button>
        <button onClick="buttonClicked('Boje');jQuery('#main').show();jQuery('#anlegen').hide();">Boje</button>
        <button onClick="buttonClicked('Anker');jQuery('#main').show();jQuery('#anlegen').hide();">Anker</button>
        <button onClick="buttonClicked('ablegen unter Segel');jQuery('#main').show();jQuery('#anlegen').hide();">ablegen mit Segel</button>
        <button onClick="buttonClicked('ablegen mit Motor');jQuery('#main').show();jQuery('#anlegen').hide();">ablegen mit Motor</button>
        <button onClick="jQuery('#main').show();jQuery('#anlegen').hide();">zur&uuml;ck</button>
      </div>
      <div id="custom" style="display: none;">
        <input id="customtext" type="text">
        <button onClick="buttonClicked(jQuery('#customtext').val());jQuery('#main').show();jQuery('#custom').hide();jQuery('#customtext').val('')">Speichern</button>
        <button onClick="jQuery('#main').show();jQuery('#custom').hide();jQuery('#customtext').val('')">zur&uuml;ck</button>
      </div>
      <p><a href="/logbook.csv">Download Logbook</a></p>
      <p><a href="/track.gpx">Download GPX Track</a></p>
    </body>
</html>
