<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <script type="text/javascript">
            var webSocket = new WebSocket('ws://localhost:8000/ws');
        </script>
        <script type="text/javascript">
            function buttonClicked(text) {
                webSocket.send(text);
            }
        </script>
    </head>
    <body>
        <div id="notification"></div>
        <div id="content">
          <button onClick="buttonClicked('value')">Titel</button>
        </div>
    </body>
</html>
