<!DOCTYPE html>
<html>
  <head>

    <title>Autologger</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/newMobile.css" media="screen and (max-width: 640px)"/>
    <link rel="stylesheet" href="css/newDesktop.css" media="screen and (min-width: 641px)"/>

    <link rel="stylesheet" href="j/sensorserver.css" />
    <link rel="stylesheet" href="j/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="j/jquerymobile.css" />

    <script src="j/jquery.js"></script>
    <script src="j/jquerymobile.js"></script>
    <script src="j/jquery3.js"></script>

    <script src="j/openlayer.js"></script>
    <script src="j/openstreetmap.js"></script>
    <script src="j/harbours.js"></script>
    <script src="j/maps.js"></script>
    <script src="j/util.js"></script>

    <script type="text/javascript" src="js/tom.js"></script>
    <script type="text/javascript" src="js/osm.js"></script>
    <script src="js/newController.js"></script>

  </head>
  <body>
    
  </body>
</html>
